<div class="card card-blue">
    <div class="card-header">
        <h3 class="card-title">New Category</h3>
    </div>
    <form th:action="@{~/category/save}" method="post" class="form-horizontal">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Category Name</label>
                <div class="col-sm-10">
                    <select name="name" class="form-control">
                        <option value="">Select one</option>
                        <option value="Makanan">Makanan </option>
                        <option value="Minuman">Minuman</option>
                        <option value="Snack">Snack</option>
                        <option value="Elektronik">Elektronik</option>
                        <option value="Aksesoris">Aksesoris</option>

                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="desc" class="col-sm-2 col-form-label">Category Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="desc" id="desc" placeholder="Category Description">
                </div>
            </div>

            <div class="card card-blue">
                <div class="card-header">
                    <h3 class="card-title">New Product :</h3>

                    <div class="card-tools">
                        <a th:href="@{~/category/add-product}"></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                            <div class="col-12">
                                <div class="card card-blue">
                                    <div class="card-header">
                                        <h3 class="card-title">New Supplier :</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Company Name</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" th:name="|product[0].supplierId|">
                                                    <option value="">Select one</option>
                                                    <option th:each="item : ${supplier}" th:value="${item.id}" th:text="${item.companyName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Product Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:name="|product[0].name|" placeholder="Product Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="quantityPerUnit" class="col-sm-4 col-form-label">Qty Per Unit</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:name="|product[0].quantityPerUnit|" id="quantityPerUnit" placeholder="Product Quantity Per Unit">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="unitPrice" class="col-sm-4 col-form-label">Unit Price</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:name="|product[0].unitPrice|" id="unitPrice" placeholder="Product Unit Price">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="stock" class="col-sm-4 col-form-label">Stock</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:name="|product[0].stock|" id="stock" placeholder="Product Stock">
                                    </div>
                                </div>
                            </div>

                        <div class="col-6">
                            <div class="form-group row">
                                <label for="onOrder" class="col-sm-4 col-form-label">On Order</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" th:name="|product[0].onOrder|" id="onOrder" placeholder="Product On Order">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="reorderLevel" class="col-sm-4 col-form-label">Reorder Level</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" th:name="|product[0].reorderLevel|" id="reorderLevel" placeholder="Product Reorder Level">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="discontinued" class="col-sm-4 col-form-label">Dscntinued</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" th:name="|product[0].discontinued|" id="discontinued" placeholder="Product Discontinued">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer justify-content-between">
            <button type="submit" class="btn btn-outline-dark">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        </div>
    </form>
</div>