<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Employees - Index</title>
    <link rel="icon" href="/dist/img/penjualan.jpg">
</head>
<body>

<!-- breadcrumb -->
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1>EMPLOYEES</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{~/home}">Home</a></li>
            <li class="breadcrumb-item active">Employees</li>
        </ol>
    </div>
</div>
<!-- /.breadcrumb -->

<!-- wajib ada-->
<div class="container-fluid" layout:fragment="content">
    <!-- Small boxes (Stat box) wajib ada-->
    <div class="row">
        <!-- wajib ada -->
        <div class="col-12">
            <!-- widged -->
            <div class="card card-blue">
                <div class="card-header">
                    <h3 class="card-title">Employees Data</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right btn-outline-dark" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-dark">
                                    <i class="fas fa-search"></i>
                                </button>

                                <a th:href="@{/employees/add-modal}" class="btn btn-outline-dark" id="btn-add">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Title</th>
                            <th>Title Of Courtesy</th>
                            <th>Birth Date</th>
                            <th>Hire Date</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Region</th>
                            <th>Postal Code</th>
                            <th>Country</th>
                            <th>Home Phone</th>
                            <th>Extension</th>
                            <th>Notes</th>
                            <th>Reports To</th>
                            <th>Photo Path</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item :${employeesList}">
                            <td th:text="${item.firstName}"></td>
                            <td th:text="${item.lastName}"></td>
                            <td th:text="${item.title}"></td>
                            <td th:text="${item.titleOfCourtesy}"></td>
                            <td th:text="${item.birthDate}"></td>
                            <td th:text="${item.hireDate}"></td>
                            <td th:text="${item.address}"></td>
                            <td th:text="${item.city}"></td>
                            <td th:text="${item.region}"></td>
                            <td th:text="${item.postalCode}"></td>
                            <td th:text="${item.country}"></td>
                            <td th:text="${item.homePhone}"></td>
                            <td th:text="${item.extension}"></td>
                            <td th:text="${item.notes}"></td>
                            <td th:text="${item.reportsTo}"></td>
                            <td th:text="${item.photoPath}"></td>
                            <td>
                                <a th:href="@{~/employees/edit/{id}(id=${item.id})}" class="btn btn-xs btn-outline-warning btn-edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:href="@{/employees/detail/{id}(id=${item.id})}" class="btn btn-xs btn-outline-success btn-view">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a th:href="@{/employees/delete/{id}(id=${item.id})}" class="btn btn-xs btn-outline-danger btn-delete">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- client script -->
<th:block layout:fragment="script">
    <script>
        $(function(){
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Toast Title',
                subtitle: 'Subtitle',
                body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                hideDuration:1000,
                timeOut: 1000,
                hideMethod: 'fadeOut',
            })
        });

        $("#btn-add").click(function (e){
            // mencegah link bekerja
            e.preventDefault();
            // call get modal
            getModal($(this));
        });

        $(".btn-edit").on("click", function (event){
            // mencegah link bekerja
            event.preventDefault();

            // call method getModel
            //getModal($('.btn-edit'));
            getModal($(this));
        });

        $(".btn-view").on("click", function (event){
            // mencegah link bekerja
            event.preventDefault();

            // call method getModel
            // getModal($('.btn-view'));
            getModal($(this));
        });

        $(".btn-delete").on("click", function (event){
            // mencegah link bekerja
            event.preventDefault();

            // call method getModel
            //getModal($('.btn-delete'));
            getModal($(this));
        });

        function getModal(element){
            // get url
            var url = $(element).attr('href');
            // ajax
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'HTML',
                success: function (result){
                    // replace modal-content
                    $('.modal-content').html(result);
                    // menampilkan modal
                    $('#modal-form').modal('show');
                }
            });
        }
    </script>
</th:block>
</body>
</html>