<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Detail Mahasiswa</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a> </li>
            <li class="breadcrumb-item active">Detail Mahasiswa</li>
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-md-12">
        <!-- general form elements -->
        <div class="card card-yellow">
            <div class="card-header">
                <h3 class="card-title">Detail Mahasiswa</h3>
            </div>
            <!-- /. carh header -->
            <form th:action="@{~/mahasiswa/save}" method="post">
                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name :</label><br>
                        <input type="text" class="form-control" name="name" id="name" th:value="${mahasiswa.name}"><br>
                    </div>

                    <div class="form-group">
                        <label>Nim :</label><br>
                        <input type="text" class="form-control" name="nim" th:value="${mahasiswa.nim}"><br>
                    </div>

                    <div class="form-group">
                        <label for="jk">Jenis Kelamin :</label><br><br>
                        <input type="text" class="form-control" name="jk" id="jk" th:value="${mahasiswa.gender}"><br>
                    </div>

                    <div class="form-group">
                        <label for="alamat">Alamat :</label><br>
                        <input type="text" class="form-control" name="alamat" id="alamat" th:value="${mahasiswa.alamat}"><br>
                    </div>

                    <div class="form-group">
                        <label for="tmpLahir">Tempat Lahir :</label><br>
                        <input type="text" class="form-control" name="tmpLahir" id="tmpLahir" th:value="${mahasiswa.tmptLahir}"><br>
                    </div>

                    <div class="form-group">
                        <label for="tglLahir">Tanggal Lahir :</label><br>
                        <input type="text" class="form-control" name="tglLahir" id="tglLahir" th:value="${mahasiswa.tglLahir}"><br>
                    </div>

                    <div class="form-group">
                        <label for="agama">Agama :</label><br>
                        <input type="text" class="form-control" name="agama" id="agama" th:value="${mahasiswa.agama}"><br>
                    </div>

                    <div class="form-group">
                        <label for="jurusanName">Name Jurusan :</label><br>
                        <input type="text" class="form-control" name="jurusanName" id="jurusanName" th:value="${mahasiswa.jurusanName}"><br>
                    </div>

                    <div class="form-group">
                        <label>Name Fakultas :</label><br>
                        <input type="text" class="form-control" name="fakultasName" th:value="${mahasiswa.fakultasName}"><br>
                    </div>
                </div>
                <!-- card body -->
                <div class="card-footer">
                    <a class="btn btn-outline-warning" th:href="@{~/mahasiswa}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>