<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/login}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- /.login-logo -->
<div layout:fragment="content" class="card card-outline card-yellow">
    <div class="card-header text-yellow">
        <img th:src="@{~/dist/img/download.png}" alt="Kampus Siakad Logo" class="brand-image img-circle elevation-3"
             style="width: 50px">
        <a th:href="@{~/home}" class="h1"><b>Admin</b>LTE</a>
    </div>
    <div class="card-body">
        <p>Sign in to start your session</p>

        <form th:action="@{~/login}" method="post">
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" name="username">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-yellow">
                        <input type="checkbox" id="remember" name="remember-me">
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-outline-warning btn-block">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
</body>
</html>