<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Detail Fakultas</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Detail Fakultas</li>
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form element -->
        <div class="card card-success">
            <div class="card-header bg-gradient-yellow">
                <h3 class="card-title">Detail Fakultas</h3>
            </div>
            <!-- /. carh header -->
            <form th:action="@{~/fakultas/save}" method="post">
                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="code">Code Fakultas :</label>
                        <input type="text" class="form-control" id="code" name="code" th:value="${fakultas.code}">
                    </div>

                    <div class="form-group">
                        <label for="name">Name Fakultas :</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${fakultas.name}">
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-outline-warning" th:href="@{~/fakultas}">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>