<!DOCTYPE html>
<div class="card card-danger">
    <div class="card-header">
        <h3 class="card-title">Delete Customer</h3>
    </div>
    <form th:action="@{~/category/delete-save}" method="post" class="form-horizontal">
        <!-- id hidden -->
        <input th:value="${data.id}" type="hidden" name="id">

        <div class="card-body">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Category Name</label>
                <div class="col-sm-10">
                    <input th:value="${data.name}" type="text" class="form-control" name="name" id="name" placeholder="Category Name" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>